<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>
      Semua Barang
    </v-subheader>
    <v-layout wrap>
      <barang-item-component 
        v-for="barang in barangs" 
        :key="'barang-' + barang.id"
        :barang="barang"
      ></barang-item-component>
    </v-layout>
    <v-pagination
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="perPage"
    >
    </v-pagination>
  </v-container>
</template>

<script>
import BarangItemComponent from '../components/BarangItemComponent.vue';

export default {
  data: () => ({
    apiDomain: "http://demo-api-vue.sanbercloud.com",
    barangs: [],
    page : 0,
    lengthPage : 0,
    perPage : 0,
  }),

  components : {
    'barang-item-component' : BarangItemComponent
  },

  methods : {
    go(){
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/barang?page=" + this.page
      };

      this.axios(config)
        .then( response => {
          let { barangs } = response.data
          this.barangs = barangs.data
          this.page = barangs.current_page
          this.lengthPage = barangs.last_page
          this.perPage = barangs.per_page
        })

        .catch(
          error => {
            console.log(error);
          });

    }
  },

  created() {
    this.go()
  } 
};

</script>