<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/barangs" class="blue --text">
        All Barangs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <barang-item-component 
        v-for="barang in barangs" 
        :key="'barang-' + barang.id"
        :barang="barang"
      ></barang-item-component>
      <v-flex v-for="barang in barangs" :key="'barang-'+barang.id" xs6>
        <v-card :to="'/barang/' + barang.id">
          <v-img
            :src="barang.photo ? apiDomain + barang.photo : 'https:picsum.photos/200/300'"
            class="white--text"
            height="200px"
          >
            <v-cart-title
            class="fill-height align-end"
            v-text="barang.title"
            ></v-cart-title>
          </v-img>

          <v-card-actions>
            <v-progress-linear
                color="blue-grey"
                height="7"
            >
            </v-progress-linear>
          </v-card-actions>

          <v-card-actions>
            <span>{{ barang.title.substring(0,15) }}...</span>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import BarangItemComponent from '../components/BarangItemComponent.vue';

export default  {
  data: () => ({
    apiDomain : 'http://demo-api-vue.sanbercloud.com',
    barangs: [],
  }),

  components : {
    'barang-item-component' : BarangItemComponent
  },

  created() {
    const config = {
      method : 'get',
      url : this.apiDomain + '/api/v2/barang/random/4'
    }

    this.axios(config)
      .then(response => {
        let { barangs } = response.data;
        this.barangs = barangs;

        console.log(this.barangs)
      })

      .catch(error => {
        console.log(error);
      });
  }
};
</script>
