<template>
    <v-flex xs6>
        <v-card :to="'/barang/' + barang.id">
          <v-img
            :src="barang.photo ? apiDomain + barang.photo : 'https:picsum.photos/200/300'"
            class="white--text"
            height="200px"
          >
            <v-cart-title
            class="fill-height align-end"
            v-text="barang.title"
            ></v-cart-title>
          </v-img>

          <v-card-actions>
            <v-progress-linear
                color="blue-grey"
                height="7"
            >
            </v-progress-linear>
          </v-card-actions>

          <v-card-actions>
            <span>{{ barang.title.substring(0,15) }}...</span>
          </v-card-actions>
        </v-card>
      </v-flex>
</template>

<script>
export default {
    data : () => ({
        apiDomain : 'http:/demo-api-vue.sanbercloud.com'
    }),
    props : ['barang']
}
</script>